<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta http-equiv="refresh" content="0.5"> -->
    <title>vue.js</title>
</head>

<body>
    <div id="app">
        <div>
            <!-- {{message}}
        <ul>
            <li v-for="item in movies">{{item}}</li>
        </ul> -->
            <h2>当前计数:{{counter}}</h2>
            <button v-on:click="add">+</button>
            <button @click="sub()">-</button>
        </div>

        <div>
            <h1 v-if="score>100">数据出错</h1>
            <h1 v-else-if="score>=90">优秀</h1>
            <h2 v-else-if="score>=80">良好</h2>
            <h3 v-else-if="score>=70">中</h3>
            <h4 v-else-if="score>=60">及格</h4>
            <h5 v-else-if="score>=0">不及格</h5>
            <h6 v-else-if="score &lt 0">数据出错</h6>
        </div>

        <div>
            <span v-if="isUser">
                <lable for="username">用户账号</lable>
                <input type="text" placeholder="账号" id="username" key="1">
            </span>
            <span v-else>
                <lable for="useremail">用户邮箱</lable>
                <input type="text" placeholder="邮箱" id="useremail" key="2">
            </span>
            <button v-on:click="isUser=!isUser">切换类型</button>
        </div>

        <!-- //使用组件 -->
        <div>
            <cpn></cpn>
        </div>

        <div id="components-demo">
            <button-counter></button-counter>
        </div>

        <div>
            <cpn1></cpn1>
        </div>

        <cpn1></cpn1>

        <!-- //&lt 代替小于号  //&gt 代替大于号  -->
    </div>

    <!-- 组件模板的抽离写法 -->
    <!-- <script type="text/x-template" id="cpnCC">
            <div>
            <h>第三种注册模板的方式</h>
            </div>   
        </script>

    <template id="cpnCC">
        <div>
            <h>第三种注册模板的方式</h>
        </div>
    </template> -->


    <script src="../vue.js"></script>
    <script>                   //编程范式：声明式编程 

        //定义组件
        const cpnC = Vue.extend({
            template:
                `
                <div>
                    <h>第一种注册组件的方式</h>
                </div>
                `
        })

        //全局注册
        Vue.component('cpn', cpnC);

        //定义app元素
        const app = new Vue({
            el: '#app',
            data: {
                message: '你好啊，小简',
                movies: ['怦然心动', '赌神', '美国往事', '海上钢琴师'],
                counter: 0,
                isShow: 1,
                score: 100,
                isUser: true,
            },
            methods: {
                add: function () {
                    console.log("add被执行");
                    this.counter *= 999;
                },
                sub: function () {
                    console.log("sub被执行");
                    this.counter++;
                }
            },
            // components: {  //组件局部注册
            //     cpn: cpnC,
            // }
        })
        // document.write(Date());



        //定义组件
        Vue.component('button-counter', {
            data: function () {
                return {
                    count: 0
                }
            },
            template: `
                    <h>第二种注册组件的方式<h>
                    <button v-on:click="count++">You clicked me {{ count }} times.</button>
                    `
        })


        //组件作为自定义元素使用(第二种)
        new Vue({
            el: '#components-demo'
        })



        //第三种注册组件的方式
        Vue.component('cpn1', {
            template: '#cpnCC',
        })
    </script>
</body>

</html>