.el-menu-demo {
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 0;
}

.container {
  max-width: 1920px;
}

.layout {
  margin-top: 50px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.row {
  margin-top: 20px;
}

.welcome {
  font-family: PingFangSC-Medium, sans-serif;
  margin-top: 80px;
  font-size: 3.5em;
  font-weight: bold;
}

.greetings {
  font-family: PingFangSC-Regular, sans-serif;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: normal;
}

.demonstration {
  font-size: 14px;
  color: #8492a6;
  line-height: 44px;
}
