/* .class1 {
    border: rgb(60, 158, 161) 3px double;
    text-align: center;
    }
body {
    font-size: 15px;
    color: #584323 ;
}  */
#div1 {
    width: 100px;
    height: 50px;
    background-color: antiquewhite;
    background: rgb(231, 233, 218);
    border: #e7f5f5 solid 5px;
    display: none;
}   
#checkbox1 {width: 50px; height: 50px;}

#div2 {
    width: 50px;
    height: 50px;
    background: red;
}